<h1><%= @post.title %></h1>
<div>
<%= @post.body %>
</div>
<br>
<%= link_to 'Edit Post', edit_post_path(@post) %>
<br>
<%= link_to 'Delete Post', post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
<br>
<% if user_signed_in? %>
  <%= link_to "Sign_Out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign_In", new_user_session_path %>
<% end %>